<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show user</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'users/style.css'%}">
</head>
<body>
    <div class="container">
        <h1>User {{user.id}}</h1>
        <p>FullName : {{user.first_name}}  {{user.last_name}} </p>
        <p>Email : {{user.email_id}}</p>
        <p>Created at : {{user.created_at}}</p>
        <a href="/users/{{user.id}}/edit">Edit</a>
        <form action="/users/{{user.id}}/delete" method="post">
            {%csrf_token%}
            <button type="submit" id="delete">Delete</button>
        </form>
    </div>
</body>
</html>